body {
    background-color: #f5deb3;
    background-repeat: no-repeat;
    background-size: cover;

}

#frm{
    background-color: lightgrey;
    border: solid 1px;
    width: 29%;
    height: 68%; 
    border-radius: 5%;
    margin-top: 5%;
    margin-left: 35%;
    background-color: #333333;
    padding: 2%;
    text-align: center;  
}

.table{
    width: 450;
    height: 250;

}

.text{
    text-align: right;
    width: 40%;
    color: rgb(212, 212, 212);
    font-family: "Kanit", serif;
    font-size: 20px;
    

}

.text1{
    text-align: center;
    color: rgb(212, 212, 212);
    font-family: "Kanit", serif;
    font-size: 30px;
    
}

input[type=text] {
    width: 90%;
    padding: 6px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px;
    border-radius: 3px;
}

input[type=password] {
    width: 90%;
    padding: 6px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px;
    border-radius: 3px;
}

.button{
    background-color: #2aad2f;
    border: solid 1px;
    font-size: 24px;
    border-radius: 8px;
    width: 300px;
    height: 40px;
}

